/* 
  font-family: 'Fredoka One', cursive;
  font-family: 'Mali', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Nunito', sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FAE6E6/*#F9CECE #E5CECE*/;
  background-size: auto 100vh;
  font-family: 'Nunito', sans-serif;
  /* background-image: url('https://pin.it/1QM7DFS'); 
    background-size: auto 100 vh */
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  /*background-color: #CFB8A3;*/
  background-color: #CCBDBD;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  font-family: 'Mali', cursive;
}


.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  
}

.menu a {
  display: block;
  padding: 12px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color:  #F2CFCF;
  color: #CCBDBD;
}

a {
  text-decoration: none;
  color: #F2CFCF;
}

.menu .home{
  padding: 6.6px 20px;
}

/*
  a:visited {
    color: darkseagreen;
  }
    
  a:hover {
    text-decoration:underline;

  }
*/

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}


.site-title, 
.site-subtitle {
  text-align: center;
  color: #7C7575;
}

.site-title {
  font-size: 5em;
  font-family: 'Fredoka One', cursive;
}

.site-subtitle {
  font-family: 'Sacramento', cursive;
  font-size: 2.4em;
  line-height: 1.8em;
}

.sobre,
.contato,
.interesses {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.interesses h2 {
  font-family: 'Mali', cursive;
  color: #7C7575;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre p {
  color: #968F8F;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.imersao-css {
  font-style: italic;
}

.sobre a {
  color: #968F8F;
  text-decoration: underline;
}

.sobre a:hover {
  background-color:#CCBDBD;
  text-decoration: none;
  color: #F2CFCF;
}

.sobre .avatar {
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  margin-left: 2em;
}

  .sobre .avatar img{
    width: auto;
    height: 60vh;
}


@media (min-width: 600px) {
  .sobre .avatar {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    float: right;
  }
}

.interesses .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .interesses .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .interesses .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 1.15em;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(204, 189, 189, 1);
  color: #F2CFCF;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.interesses figure {
  text-align: center;
}

.img-interesses {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 500ms;
}

/*.img-interesses:hover {
  transform: scale(1.2) rotate(-2deg);
}*/


.contato .icons {
  text-align: center;
}

.contato a {
  color: #968F8F;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(124, 117, 117, 0.75);
}